<%- include('./partials/header.ejs') %>

<main class="container">
	<div class="post__container">

		<div class="post__header">
			<a class="back" href="/">&larr; Back</a>
			<div id="optionsContainer" class="options__container">
				<img id="optionsIcon" src="/images/icons8-three-dots-50.png" alt="">
				<div id="postOptions" class="post__options">
					<a class="edit__post" href="/edit-post/<%= reqPost._id %>">Edit</a>
					<form action="/delete-post/<%= reqPost._id %>" method="POST">
						<input class="delete__post" type="submit" value="Delete">
					</form>
				</div>
			</div>
		</div>

		<h2 class="post__heading"><%= reqPost.title %></h2>
		<p class="post__body"><%= reqPost.body %></p>
	</div>
</main>

<script>
	const postOptions = document.getElementById('postOptions');
	const optionsIcon = document.getElementById('optionsIcon');

	optionsIcon.addEventListener("click", function() {
		if (postOptions.style.visibility === "visible") {
				postOptions.style.visibility = "hidden";
		} else {
				postOptions.style.visibility = "visible";
		}
	});
</script>

<%- include('./partials/footer.ejs') %>